img{
    width: 45%;
    font-size: 30px;
    color: #0D0D0D;
}
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
    }
h2 {
    font-size: 30px;
    color: #0D0D0D;
    line-height: 2;
}
p {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;

}
